body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #d33d26;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

form {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label,
input,
textarea {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #d33d26;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5733;
}
